<html>
    <title>General System Information</title>
    <body>
        <h1>General System Information</h1>
        <a href="/system/">[View System Info]</a>
        <a href="/processes/">[View Processes]</a>
        <a href="/resources/">[View Resources]</a>
        <a href="/filesystems/">[View File Systems]</a>
        <h2>{{ hostname }}</h2>
        <h3>{{ os_type}}</h3>
        <p>Distribution Information</p>

        <p>{{os_release|linebreaksbr}}</p>
        <p>Kernel : {{ kernel_release }}</p>
        <p>Desktop Environment : {{desktop_environment}}</p>

        <h3>Hardware</h3>
        <p>Memory : {{memory_size}} KB</p>
        <p>Processes : {{cpu_model_name}} </p>
        <h3>System Status</h3>
        <p>Available disk space : {{disk_size}} KB</p><br/>
    </body>
</html>
